.banner {
  position: relative;
  width: 100%;
  height: 600px;       /* or height: 100vh; for full viewport */
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;  /* ensures the full image is visible */
  object-position: center;
  display: block;       /* removes bottom space under image */
}

/*Destination*/
.destination-section {
    padding: 55px 55px;
    background-color: #f7f9f6;
}

.desti-heading {
  text-align: left;
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-top: 0px;
    color: rgb(0, 105, 55);

    margin-bottom: 20px;
}

.desti-carousel {
    position: relative;
    overflow: hidden;
}

.desti-row {
    display: flex;
    transition: transform 0.5s ease;
}

/* Destination Cards */
.desti-card {
    flex: 0 0 calc(100% / 3);
    background: #fff;
    margin-right: 20px;
    border-radius: 0px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Ensures button stays bottom aligned */
}
.news-card h3 {
    font-size: 18px;
    color: rgb(0, 105, 55);
    margin: 10px 15px 10px;
}
/* Hover Effect */
.news-card .btn:hover {
    background-color: #f8fffa;
    color: #e4a457;
}
.desti-wrapper {
    height: 250px;
    overflow: hidden;
}